faiss-cpu==1.8.0
Flask==3.0.3
google-ai-generativelanguage==0.6.17
google-api-core==2.24.2
google-auth==2.38.0
langchain==0.3.1
langchain-community==0.3.1
langchain-core==0.3.49
langchain-google-genai==2.1.2
langchain-openai==0.2.0
python-dotenv==1.0.1
pandas
openai==1.65.3
pydantic==2.10.6